<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
    <div class="team-member">
        <div class="member-img">
            <img data-simply-field="personImage" src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
                <a href="#" data-simply-field="twitterLink"><i class="bi bi-twitter-x"></i></a>
                <a href="#" data-simply-field="facebookLink"><i class="bi bi-facebook"></i></a>
                <a href="#" data-simply-field="instagramLink"><i class="bi bi-instagram"></i></a>
                <a href="#" data-simply-field="linkedinLink"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <div class="member-info">
            <h4 data-simply-field="personName">Nome Cognome</h4>
            <span data-simply-field="personRole">Ruolo</span>
        </div>
    </div>
</div>