<section id="team" class="team section">
  <div class="container">
    <!-- Questa è la lista che conterrà le singole card -->
    <div class="row gy-4" data-simply-list="people" data-simply-sortable="true">
      <template data-simply-template="Person" data-simply-template-icon="fa-user-plus">
        <!-- Il contenuto di ogni persona verrà caricato dal template della card -->
        <div data-simply-content="template" data-simply-rel="/templates/sections/person-card-nova.html"></div>
      </template>
    </div>
  </div>
</section>